# Set
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

 *Note: Set items are unchangeable, but you can remove items and add new items.

Sets are written with curly brackets.

Set Items
Set items are unordered, unchangeable, and do not allow duplicate values.

Unordered
Unordered means that the items in a set do not have a defined order.

Set items can appear in a different order every time you use them, and cannot be referred to by index or key.

Unchangeable
Set items are unchangeable, meaning that we cannot change the items after the set has been created.

Once a set is created, you cannot change its items, but you can remove items and add new items.

Duplicates Not Allowed
Sets cannot have two items with the same value.

In [1]:
#Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

#Duplicate values will be ignored:

thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)


#Get the number of items in a set:

thisset = {"apple", "banana", "cherry"}

print(len(thisset))


#Set items can be of any data type:


set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}


#A set can contain different data types:
#A set with strings, integers and boolean values:

set1 = {"abc", 34, True, 40, "male"}

#What is the data type of a set?

myset = {"apple", "banana", "cherry"}
print(type(myset))

#Using the set() constructor to make a set:

thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'apple', 'cherry'}
{'banana', 'apple', 'cherry'}
3
<class 'set'>
{'banana', 'apple', 'cherry'}

In [ ]:
Access Items
You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a for loop, 
or ask if a specified value is present in a set, by using the in keyword.

In [3]:
#Loop through the set, and print the values:

thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

#Check if "banana" is present in the set:

thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

banana
apple
cherry
True

# Add Items
Once a set is created, you cannot change its items, but you can add new items.
To add one item to a set use the add() method.

To add items from another set into the current set, use the update() method.

Add Any Iterable
The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [4]:
#Add an item to a set, using the add() method:
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

#Add elements from tropical into thisset:

thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

#Add elements of a list to at set:

thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'apple', 'cherry'}
{'papaya', 'mango', 'apple', 'pineapple', 'banana', 'cherry'}
{'banana', 'cherry', 'apple', 'kiwi', 'orange'}

# Remove Item
To remove an item in a set, use the remove(), or the discard() method.

Note: If the item to remove does not exist, remove() will raise an error.
Note: If the item to remove does not exist, discard() will NOT raise an error.

You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

The return value of the pop() method is the removed item.

In [3]:
#Remove "banana" by using the remove() method:

thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)


#Remove "banana" by using the discard() method:

thisset = {"apple", "banana", "cherry"}

thisset.discard("banana")

print(thisset)


#Remove the last item by using the pop() method:

thisset = { 1,2,3}

x = thisset.pop()

print(x)


#The clear() method empties the set:

thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)


#The del keyword will delete the set completely:

thisset = {"apple", "banana", "cherry"}

del thisset

#print(thisset)


#Join Two Sets
#There are several ways to join two or more sets in Python.
#You can use the union() method that returns a new set containing all items from both sets, 
#or the update() method that inserts all the items from one set into another:
#The union() method returns a new set with all items from both sets:

set1 = {'a', 'b', 'c'}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)


set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set2.union(set1)
print(set3)

{'cherry', 'apple'}
{'cherry', 'apple'}
1
set()
{1, 2, 'b', 3, 'a', 'c'}
{1, 2, 3, 'b', 'a', 'c'}